*~
.idea
project/boot
project/plugins/project
project/plugins/target
project/target
target
.ensime
TAGS
\#*#
*~
.#*
.lib
*.aux.xml
*.jar
*.iml
*.sublime-workspace
.DS_Store
data/HumanGeo_Libya_Rasters/
data/Ross_Libya_Rasters*
data/geojson
data/*.geojson
data/*.qml
data/Acled/
data/Airstrikes
data/Allies
data/Libya_shape
data/Oil_Pipeline
data/Pop_centers
data/Routes
data/catalog/pipeline
data/catalog/conflict
data/catalog/attributes
deployment/*.tfstate
deployment/*.tfstate.backup